table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
  }
  
  thead th:nth-child(1) {
    width: 10%;
  }
  
  thead th:nth-child(2) {
    width: 10%;
  }
  
  thead th:nth-child(3) {
    width: 5%;
  }
  
  thead th:nth-child(4) {
    width: 10%;
  }

  thead th:nth-child(5) {
    width: 30%;
  }

  thead th:nth-child(6) {
    width: 30%;
  }

  thead th:nth-child(7) {
    width: 8%;
  }

  thead th:nth-child(8) {
    width: 8%;
  }

  th, td, thead {
    border: 1px solid rgb(0, 92, 128);
    text-align: center;
    padding: 10 px;
  }

  img {
    width: 200px;
  }

  .error {
    color: red;
  }

